<h1>Xiangqi</h1>
<div class="row-fluid">
    <div class="col-md-8 left-col">
        <div class="rooms">
            <% if @rooms.any? %>
                <ul>
                    <% @rooms.each do |item| %>
                        <li><%= item.title %></li>
                    <% end %>
                </ul>
            <% else %>
                No active room
            <% end %>
        </div>
    </div>
    <div class="col-md-4">
        <%= form_tag games_rooms_path, method: :post, class: 'form-new-game horizontal-form bg-info' do |f| %>
            <h4>Create a Room</h4>
            <div class="form-group">
                <textarea type="text" name="title" id="roomtitle" class="form-control" placeholder="Welcome to my room"></textarea>
                <input type="hidden" name="ope" class="ope" value="init"/>
            </div>
            <div class="form-group">
                <input type="submit" id="newgamebtn" class="btn btn-primary" value="New Game"/>
            </div>
        <% end %>
    </div>
</div>

<script language="javascript">
var rooms = <%= raw @rooms.to_json %>;

function joinGameHandler(roomId) {
    var url = ['/games/rooms', roomId, 'join'].join('/');
    window.location.href = url;
}

function renderRooms(rooms) {
    var menu = $(".rooms");
    var root = React.createFactory(RoomList)({ rooms: rooms, joinGameHandler: joinGameHandler});
    React.render(root, menu.get(0));
}

$(function () {
    $('.form-new-game').submit(function(){
        var name = $("#roomtitle").val();
        if (!name) {
            $("#roomtitle").focus().parent().addClass('has-error');
            return false;
        }
        return true;
    });

    Rx.Observable.interval(5000).startWith(-1).subscribe(
        function() { 
            $.ajax({
                url: '<%= games_xiangqi_index_path %>',
                dataType: 'json'
            }).done(function(result){
                renderRooms(result);
            });
        }
    );
});
</script>