<div class="row feed-reader">
  <div class="col-sm-4 left-pane">
    <ul class="listing">
    </ul>
  </div>
  <div class="col-sm-8 content-pane">
    content pane
  </div>
</div>

<script language="javascript">
  var read = new Map();
  var feeds = new Map();
  var contentTop = 0;
  var scrollingSpeed = 100;
  $(function(){
    // debugger;

    var news = [
      'http://vnexpress.net/rss/tin-moi-nhat.rss',
      'http://dantri.com.vn/trangchu.rss',
      'http://www.football365.com/premier-league/rss'
    ];

    Rx.Observable.fromArray(news)
              .flatMap(function(source) {
                var source = new Source('.left-pane .listing', source);
                return Rx.Observable.fromPromise(source.getRss());
              }).map(function (x) {
                return Rx.Observable.fromArray(x.responseData.feed.entries.map(function(en){
                  en['source'] = x.responseData.feed.title;
                  en['publishedDate'] = moment(en.publishedDate);
                  return en;
                }));
              }).mergeAll().subscribe(
                function(x){ feeds.set(x.title, x); },
                function(e){ console.log(e);},
                function(){
                  handleFeeds(feeds)
                  $('.feed-item').eq(0).trigger('click');
              });

    ContentCleaner.clean();
  });

  function setupScrolling() {
    console.log('setupScrolling');
    $('.content-pane').css('scrollTop', 0);
    $('.content-pane').animate({scrollTop: $('.content-pane').height()}, 'slow');
  }

  function handleFeeds(feeds) {
    console.log('handleFeeds');
    var arr = [];
    feeds.forEach(function(value){ arr.push(value);});
    arr = arr.sort(function(x, y) {
      return y.publishedDate.diff(x.publishedDate);
    });
    $('.listing').html('');
    arr.forEach(function(x) {
      Renderer.render('.left-pane .listing', x) 
    });
    var h = $(window).height() - 50;
    console.log(h);
    $('.content-pane').height(h).css('overflow-y', 'scroll');

    Rx.Observable.fromEvent($('.feed-item'), 'click')
      .debounce(1000)
      .distinctUntilChanged()
      .subscribe(function(ev){
        var href = $(ev.target).data('href');
        $.get('/news/show', {url: href}, function(result){
          $(ev.target).parent().parent().fadeOut();
          try {
            $('.content-pane').html(result.html);
          } catch(e){}

          // setupScrolling();
        }, 'json');
      });
  }
</script>