@import "bootstrap";
$myfont: "Arial Black", Gadget, sans-serif;
$blue: rgb(76, 102, 164);
#logo {
  line-height: 20px;
}
.topimg {
  width: 45px;
  img {
  width: 28px;
  height: 28px;
  &:hover {
    border: 1px #000 dotted;
  }
}
}

.topnote {
  line-height: 42px;
  font-family: $myfont;
  font-size: 1.2em;
}

#masonry-container {
  background: #FFF;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  .post {
    float: left;
    width: 200px;
    .poem {
      color: $blue;
    }
    @media screen and (orientation: landscape) {
      width: 19%;
    }
    @media screen and (orientation: landscape) and (max-device-width:720px) {
      width: 24%;
    }
    @media screen and (orientation: portrait) {
      width: 49%;
    }
    .post-inner {
    	padding: 0 5px;
    	border-right: 1px dotted #000;
    }
    .divider {
      margin: 0 auto;
      font-weight: bold;
      line-height: 2em;
      text-align: center;
      border-right: 1px dotted #000;
    }
    .note-id {
      text-align: right;
      font-family: $myfont;
      font-size: 0.8em;
      margin-top: -5px;
    }
  }
}

.popover {
  position: fixed;
}