%header.navbar.navbar-default(role="navigation")
  .navbar-inner
    .container
      = link_to "Truyen cuoi", '#', id: 'logo', class: 'pull-left'
      %nav
        %ul.nav.pull-right
          %li= link_to "Home", root_path